<div class="admin-tree-menu">
    <ul id="AdminTree" class="vertical menu accordion-menu" data-accordion-menu>
        @await Component.InvokeAsync("Menu", new { testId = 1 })  @*ViewBag.Id })*@  @*Use ViewBag if you want to pass a value into InvokeAsync dynamically*@
    </ul>
</div>


